<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stellar Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../css/style.css" <!-- End layout styles -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  <img src="../../images/logo.svg">
                </div>
                <h4>新用户?</h4>
                <h6 class="font-weight-light">请填写以下信息，完成注册</h6>
                <form class="pt-3">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="xuehao" placeholder="学号">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-lg" id="username" placeholder="姓名">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-lg" id="email" placeholder="邮箱账号">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-lg" id="password" placeholder="密码">
                  </div>
                  <div class="mt-3">
                    <button type="button" id="sswregister"class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">注册</button>
                  </div>
                  <div class="text-center mt-4 font-weight-light"> 已有账号? <a href="login.html" class="text-primary">登录</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../js/jquery.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script>
      $("#sswregister").click(function() {
        var xuehao = $("#xuehao").val();
        var email = $("#email").val();
        var username = $("#username").val();
        var password = $("#password").val();
        //var username = "ssw";
        //var password = "1234";
　　     var reg = /^\w+((.\w+)|(-\w+))@[A-Za-z0-9]+((.|-)[A-Za-z0-9]+).[A-Za-z0-9]+$/; //正则表达式
        var reg1 = /^[0-9]{8}$/;
        var obj = document.getElementById("email");
        var obj1 = document.getElementById("xuehao");
        console.log(email)
        if(!reg1.test(obj1.value)){
          alert("学号不正确");
        }else if(username.length == 0){
            alert("姓名不能为空");
        }else if(!reg.test(obj.value)){ //正则验证不通过，格式不对
　　　　    alert("邮箱不正确");
　　　　    return false;
　　    }else if(password.length == 0){
            alert("密码不能为空");
        }
        else{
          console.log(email)
        $.ajax({
            type: "POST", //请求方式
            url: 'http://www.oscar-lab.cn:9999/signup/', //请求的接口地址
            data: {
              ssid:xuehao,
              name: username, //服务端请求的数据，前者username代表django获取前端的变量名，后者username代表上面定义的变量名
              email:email,
              passward: password,
              },
            dataType: "json", //返回数据格式，前端要求json格式，后端就必须返回json格式的数据
            success: function (data) { //data为自定义变量，也可以写成success
                console.log(data)
                if (data.code == '100') { //success为后端返回的key值，也可以用msg进行判断
                      alert("请进行邮箱验证") //弹出提示框
                      window.location.href = "mail.html" //跳转到成功页
                      return true
                      }
                else  {
                      alert("注册失败")
                      //window.location.href = "/shibai.html" //跳转到失败页
                            // window.location.reload()
                      return false
                        }
                    },
                })}
        });
    </script>
    <!-- endinject -->
  </body>
</html>